body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #B0C4DE;
    color: #00008B;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffc107;
}

.intro {
    text-align: center;
    padding: 50px;
}

.services {
    text-align: center;
    margin-top: 50px;
}

.services h2 {
    color: #333;
    margin-bottom: 20px;
}

.services ul {
    list-style-type: none;
    padding: 0;
}

.services ul li {
    margin-bottom: 10px;
}

.contact {
    text-align: center;
    margin-top: 50px;
    background-color: #B0C4DE;
    color: #fff;
    padding: 50px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.contact-form textarea {
    resize: none;
    height: 150px;
}

.contact-form button {
    display: block;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #ffc107;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #ff9800;
}

footer {
    background-color: #B0C4DE;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%;
}
#footericons {
    text-align: center;
    margin-top: 20px;
}

#footericons img {
    width: 50px;
    height: 50px;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

#footericons img:hover {
    transform: scale(1.2);
}

